
$lightgrey : #EBEBEB;

.company-info{
  padding: 20px;
}
.store-image{
  width: 12%;
}
.store-info{
  width: 85%;
}
.store-info h2 , .store-info h5{
  padding: 5px 0;
}
.store-filter button {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: 800;
  background-color: $lightgrey;
  border: none;
  border-radius: 50%;
}
.product {
  //width: 100%;
  //height: 340px;
  border-right: solid 1px #e9e9e9;
}
.product-item {
  //width: 20%;
  //height: 380px;
  cursor: pointer;
}
.product_image, .product_image img{
  //width: 100%;
}
.product-list{
 width: 100%;
}
.owl-stage, .ng-tns-c67-0,.owl-stage-outer{
  display: flex;
}
