/* You can add global styles to this file, and also import other style files */
@import "assets/css/variable";
* {
  box-sizing: border-box;
  scrollbar-width:none;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.clearfix:before,
.clearfix:after {
  content: "";
  width: 100%;
  display: table;
}
img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  object-fit: contain;
}
:root{
  --color: #726dcc;
  --grey:#E0E0E0;
  --grey1:#EBEBEB;
}
.main-container{
  width: 100%;
  height: 100%;
  margin:0 auto;
}
.dflex {
  display: flex;
}
.display-inline{
  display: inline-block;
}
.w50{
  width: 50%;
}
h1{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 28px;
}
h2{
  font-size: 1.375rem;
  line-height: 25px;
  font-weight: 700;
}
h3{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
}
h4{
  font-size: 1.125rem;
  font-weight: 500;
}
h5,a{
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
}
h6{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19px;
}

h1,h2,h3,h4,h5,h6,a,p{
  margin: 0;
  padding: 0;
}
.extra{
  background-color: rgba(0,0,0,0.6);
}
button,.cursor_pointer{
  cursor: pointer;
}
.br-none{
  border:none;
}
